/* CSS pour les contenus de l'utilisateur */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Affichage de 4 contenus par ligne */
    gap: 20px;
    margin-top: 20px;
}

.post-box {
    background: #fff;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.content-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-links {
    margin-top: 10px;
}

.content-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
